@import url('../../styles/global.css');

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 50px;
  }
  
  .main-content {
    flex: 1; 
    padding: 20px;
    margin: 0 auto; 
    max-width: 1200px;
    margin-left: 50px; 
    margin-right: 50px;
  }
  
  .intro, .what-we-offer {
    margin-bottom: 20px; 
  }
  
  

.footer {
    background-color: #f4f4f4;
    color: var(--white);
    width: 100%; 
    text-align: center;
    margin: 0;
    padding: 10px 0; 
    position: fixed; 
    bottom: 0;
    font-size: 0.8rem;
    box-sizing: border-box;
    left: 0;
  }
  

  .footer-links a {
    color: var(--uiuc-blue);
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.8rem;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  